services:
  nginx-proxy-manager:
    image: 'jc21/nginx-proxy-manager:latest'
    container_name: nginx-proxy-manager
    restart: unless-stopped
    environment:
      - DISABLE_IPV6=true
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    volumes:
      - ./npm/data:/data
      - ./npm/letsencrypt:/etc/letsencrypt
    networks:
      - app-network

  postgres:
    image: bitnami/postgresql:latest
    environment:
      POSTGRES_USER: joao
      POSTGRES_PASSWORD: password
      POSTGRES_DB: escoladb
    volumes:
      - pdv-pg-data:/bitnami/postgresql
    restart: unless-stopped
    networks:
      - app-network

  backend:
    build:
      context: ./backend
    container_name: backend
    environment:
      NODE_ENV: production
      JWT_SECRET: chave_secreta
      PORT: 4040
      DATABASE_URL: postgresql://joao:password@postgres:5432/escoladb
    depends_on:
      - postgres
    restart: unless-stopped
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_AXIOS_BASE_URL: http://backend:4040
      JWT_SECRET: chave_secreta
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - app-network

volumes:
  pdv-pg-data:

networks:
  app-network:
    driver: bridge
