services:

  nginx-proxy-manager:
    image: 'docker.io/jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    container_name: nginx-proxy-manager
    network_mode: host
    environment: # Uncomment this if IPv6 is not enabled on your host
      - DISABLE_IPV6=true # Uncomment this if IPv6 is not enabled on your host
    ports:
      - "3001:3000"

    volumes:
      - ./npm/data:/data
      - ./npm/letsencrypt:/etc/letsencrypt

  postgres:
    image: bitnami/postgresql:latest
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: joao
      POSTGRES_PASSWORD: password
      POSTGRES_DB: escoladb
    volumes:
      - pdv-pg-data:/bitnami/postgresql
    restart: unless-stopped

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "4040:4040"
    environment:
      NODE_ENV: production
      JWT_SECRET: chave_secreta
      PORT: 4040
      DATABASE_URL: postgresql://joao:password@postgres:5432/escoladb
    depends_on:
      - postgres
    volumes:
      - ./backend:/api
      - /api/node_modules
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "4000:3000"
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_AXIOS_BASE_URL: http://backend/
      JWT_SECRET: chave_secreta
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  pdv-pg-data:
    driver: local
  ./npm/data:
    driver: local
  ./npm/letsencrypt:
    driver: local
  
